
@font-face {font-family: "iconfont";
  src: url('../font-face/iconfont.eot?t=1480443675219'); /* IE9*/
  src: url('../font-face/iconfont.eot?t=1480443675219#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font-face/iconfont.woff?t=1480443675219') format('woff'), /* chrome, firefox */
  url('../font-face/iconfont.ttf?t=1480443675219') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font-face/iconfont.svg?t=1480443675219#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bofangdisc:before { content: "\e78b"; }

.icon-bofang:before { content: "\e667"; }

.icon-gongneng:before { content: "\e602"; }

.icon-shizi:before { content: "\e61f"; }

.icon-sibianxing:before { content: "\e620"; }

.icon-tu:before { content: "\e621"; }

.icon-logo01:before { content: "\e63d"; }

.icon-ewm01:before { content: "\e63f"; }

.icon-logo:before { content: "\e643"; }

.icon-jian:before { content: "\e647"; }

.icon-jia:before { content: "\e648"; }

.icon-logo-:before { content: "\e64e"; }

.icon-icon-test1:before { content: "\e650"; }

.icon-icon-test2:before { content: "\e651"; }

.icon-icon-test3:before { content: "\e652"; }

.icon-icon-test4:before { content: "\e653"; }

.icon-icon-test5:before { content: "\e654"; }

.icon-ewm:before { content: "\e655"; }

.icon-icon-test:before { content: "\e656"; }

